<template>
  <div>
    <div class="heading">Protel Media Privacy Policy</div>

    <div class="list">
      <ol>
        <li>
          <div class="sub-heading"><span class="article-number">1. </span>Introduction</div>

          <div class="detail-paragraph">
            <span class="article-number">1.1. </span> At Protel Media, we know your privacy is a serious matter. We
            strive to ensure that our use of your personal data is lawful and reasonable, with the ultimate goal of
            improving our services and your viewing experience.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">1.2. </span> This Privacy Policy describes how your personal data is processed
            at Protel Media when you use our websites, applications (including the Protel Media App), products,
            platforms and services to browse or to access content, including when you are not registered or signed in to
            our service. Here we also provide some ways for you to exercise control over your personal data, and to
            contact us if you have questions. The personal data will be processed by Protel Media in accordance with the
            requirements of Article 31 of the Constitution of Kenya.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">1.3. </span> Protel Media Group operates subject to laws of the Kenya. We are
            located at All Africa Conference of Churches Building, Off Waiyaki Way, Westlands. Protel Media Group is the
            controller of personal data the processing of which is described in this Privacy Policy. Protel Media Group
            is hereinafter referred to as “Protel Media”.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">1.4. </span> We encourage you to read this policy completely so that you
            understand how we rely on personal data to create the best possible experience for you. We also use this
            policy to call your attention to the information about Cookies that help power our offerings from a
            technical perspective.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">1.5. </span> Should you have any questions regarding the processing of personal
            data by Protel Media, you can contact our data protection officer at email.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">1.6. </span> Unless stated otherwise, defined terms have the meaning given to
            them in the Protel Media Terms and Conditions - Kenya.
          </div>
        </li>

        <!-- Divider -->
        <li>
          <div class="sub-heading"><span class="article-number">2. </span>What personal data do we collect?</div>

          <div class="detail-paragraph">
            <span class="article-number">2.1. Overview:</span> We may receive and collect personal data about you in
            several ways, including when you download the Protel Media App on your device; you sign up to use Protel
            Media; you stream, download, access or make use of any Protel Media Service or Content (including when you
            decide on selection of Content), you give us payment details, you contact our support centre, you
            participate in a marketing or promotion activity or you submit your personal data to us for any other
            reason. We may also receive personal data from third parties that have obtained it from you and that are
            permitted to share it with us.
          </div>

          <div class="detail-paragraph">
            <span class="article-number"
              >2.2. Categories of personal data when you are signed in to Protel Media Service:
            </span>
            The categories of personal data of signed in users that we collect include:

            <div class="detail-paragraph sub">
              <span class="article-number">
                2.2.1 Basic Account and Contact Information:
              </span>
              You must provide an email address, cell phone number and password to create a Protel Media Account. Protel
              Media may also receive basic account information from third party sites, such as when you choose to sign
              in via a social network account;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 2.2.2 Payment Methods: </span>
              In relation to your payments for access to the Protel Media Service, we collect details of methods of
              payment, including but not limited to certain information about credit and debit cards, loyalty points,
              vouchers, mobile phone number for payments with telecommunications operators’ bills or use of an accepted
              e-wallet;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">
                2.2.3 Preferences, user profile and other information:
              </span>
              We also collect and process certain information on your activity on the Protel Media Service, Protel Media
              Website and Protel Media App, such as for example title selections, viewing history, content reviews if
              such option is available, and information about your Protel Media Account (including information that you
              provide using your My Account section), settings data and certain data inferred on their basis, in
              particular taste preferences based on your selection of Content;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 2.2.4 Events: </span>
              We collect certain information about your activities observed when you are accessing and using the Protel
              Media Website, Protel Media App or when you react to our marketing communications, including details of
              how, when and for how long you have accessed, viewed or used any of our platforms as well as details
              regarding site traffic and usage information (for example search queries, navigation behavior and viewing
              time and duration), and, if enabled, voice commands processed through the Protel Media App;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">
                2.2.5 Support services information:
              </span>
              We collect certain details of your interactions with the Protel Media support centre (in case we can
              attribute the conversation to you), such as the date, time and reason for contacting Protel Media,
              transcripts of chat, email or other conversations;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 2.2.6 Cookies: </span>
              We may also store certain information collected via the use of cookies, web beacons, advertising IDs and
              other technologies, including ad data. For more information on cookies please refer to the Cookies section
              of this Privacy Policy;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">
                2.2.7 Device and Browser Information:
              </span>
              When you access the Protel Media Website or the Protel Media App, we may also collect information about
              the device or browser accessing the Protel Media Services, such as unique device identifiers, IP address,
              type, model, settings, operating system, system activity and crash reports. Your device and browser, such
              as unique device identifiers, IP addresses, the type of device used to access Protel Media Service, Protel
              Media Website and Protel Media Account, hardware model and settings, operating system, browser type,
              language, system activity, and crash reports;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 2.2.8 Location Information: </span>
              When you access the Protel Media Website or the Protel Media App, based on your IP address, we may
              determine the geographical location of a device used to access Protel Media Service based on your IP
              address, however, such information determined does not beyond the level of municipality. In addition,
              Protel Media does not use GPS geolocation and does not collect geolocation data.
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">
                2.2.9 Information necessary to verify your country of residence in connection with the cross-border
                content portability (if applicable in your region):
              </span>
              Protel Media may ask you to provide two means of verification, including ID card, driving license,
              passport, utility bill or declaration confirming address, to verify your country of residence in
              accordance with the Regulation of the European Parliament and of the Council 2017/1128 on cross-border
              portability of online content services in the internal market. The information which Protel Media collects
              from you for the sole purpose of verifying your country of residence will be deleted on completion of
              verification.
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">
                2.2.10 User Research Information:
              </span>
              We collect certain details of your interactions with a Protel Media User Research Surveys (in case you
              decide to contribute, which is completely voluntary), such as your evaluation of various aspects of Protel
              Media Service, your preferences regarding Protel Media Service properties and your opinion on certain
              Protel Media Service-related questions.
            </div>

            <div class="detail-paragraph">
              <span class="article-number"
                >2.3. Categories of data when you are not signed in to Protel Media Service:</span
              >
              The categories of personal data of that we may collect when you are browsing the Protel Media Website or
              the Protel Media App without signing in include data referred to in the following sections: on Events
              (2.2.4), Cookies (2.2.6), Device and Browser Information (2.2.7) and Location Information (2.2.8).
            </div>

            <div class="detail-paragraph">
              <span class="article-number">2.4. Sub-profiles data:</span>
              We allow the creation of sub-profiles that can be linked to a single Protel Media Account, whereby
              different people (such as members of a family or household) can maintain their own profile and personal
              preferences distinct from those assigned to the main profile and other sub-profiles linked to the same
              master Protel Media Account. Please note that using the main Protel Media Account profile it is possible
              to access personal data created by the users of the sub-profiles and the exercise of the data subject
              rights (including the right to access data) through the main Protel Media Account profile will take effect
              with respect to all personal data processed under the entire Protel Media Account, including personal data
              relating to all sub-profiles (even if they are password protected).
            </div>

            <div class="detail-paragraph">
              <span class="article-number">2.5. Children’s data:</span>
              You must be at least 18 years of age or older to create a Protel Media Account. While individuals under
              the age of 18 may use the Protel Media Service, they may do so only under the supervision of a parent or a
              guardian. It is possible to create a Kid sub-profile, which will include content oriented to children
              (based on the classification provided by our content providers), specifically intended for use by a child.
              Creating a Kid sub-profile for a child age 16 or younger requires a parent or guardian to consent to
              creating the Kid sub-profile and processing the child’s personal data.
            </div>

            <div class="detail-paragraph">
              <span class="article-number">2.6. Voluntary provision of data:</span>
              The provision of your personal data is voluntary but necessary to use some of the services offered by
              Protel Media. Refusal to provide some of your personal data will make it impossible to use the Protel
              Media Service or some of their functionalities, for example its websites, applications, products,
              platforms and services to browse or to access content, and will prevent Protel Media from offering and
              performing such services.
            </div>
          </div>
        </li>

        <li>
          <div class="sub-heading">
            <span class="article-number">3. </span>For what purposes do we process personal data?
          </div>

          <div class="detail-paragraph">
            <span class="article-number">3.1 Overview: </span>
            We use the information we receive and collect generally for the purpose of providing, promoting,
            maintaining, personalizing and improving our services, to develop new services, and to protect Protel Media,
            our platforms, content partners and our users from fraudulent or illegal activity.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">3.2 Purposes: </span>
            Specific purposes for which we process your data include:

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.1 </span>
              Processing personal data necessary for the purposes of conclusion and performance of the agreement with
              you, including:

              <div class="detail-paragraph sub">
                <span class="article-number"> 3.2.1.1 </span>
                To establish, personalize and maintain your Protel Media Account, And to authenticate your identity when
                accessing your Protel Media account, to provide you with movies, series and other content and to settle
                payments;
              </div>

              <div class="detail-paragraph sub">
                <span class="article-number"> 3.2.1.2 </span>
                To provide you with unique selection of titles tailored exclusively for you in a form of recommendations
                resulting from automated analysis of your title choices and other actions made by you while using the
                Protel Media Service;
              </div>

              <div class="detail-paragraph sub">
                <span class="article-number"> 3.2.1.3 </span>
                To provide customer support services and to communicate with you, including to inform you about any
                changes to Protel Media products and services;
              </div>

              <div class="detail-paragraph sub">
                <span class="article-number"> 3.2.1.4 </span>
                If applicable - to provide you with the Protel Media App, including its voice search function available
                in some versions of the Protel Media App.
              </div>
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.2 </span>
              To provide cross-border portability of Protel Media online content, including verification of the country
              of residence in accordance with and based on the Regulation of the Kenyan Parliament and of the Council
              2017/1128 on cross-border portability of online content services in the internal market;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.3 </span>
              Processing of personal data in order to fulfil obligations resulting from provisions of applicable laws;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.4 </span>
              To fulfil any contractual obligations with our business partners for the purpose of offering Protel Media
              services and for the purposes of financial settlements connected there to, which is our legitimate
              interest for processing personal data;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.5 </span>
              Processing of personal data for marketing of the Protel Media services, including through advertising
              tailored for individual or group needs and preferences, for example online advertising, which is our
              legitimate interest for processing personal data;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.6 </span>
              Processing for the purposes of research, analytics, development, Improvement (including user experience
              improvement), administration, maintenance, technical support and security of the Protel Media Service,
              Protel Media Website and Protel Media App, which is our legitimate interest for processing personal data;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.7 </span>
              Processing for the purposes of establishment, exercise and defense of Legal claims, enforcing or
              investigating potential violations of our terms of use or any other actual or alleged fraudulent
              activities, protecting rights, property or safety of Protel Media, our customers, employees and other
              third parties, which is our legitimate interest for processing personal data;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number"> 3.2.8 </span>
              Processing for the purposes of reorganization of the Protel Media group, Including changes in ownership or
              control of assets, shares or management of Protel Media, or that of our affiliates, which is our
              legitimate interest for processing personal data.
            </div>
          </div>
        </li>

        <li>
          <div class="sub-heading"><span class="article-number">4. </span>Who are the recipients of personal data?</div>

          <div class="detail-paragraph">
            <span class="article-number">4.1. </span>
            Your personal data may be disclosed to the following categories of recipients:

            <div class="detail-paragraph sub">
              <span class="article-number"> 4.1.1 </span>
              Protel Media affiliates, which includes our holding companies, subsidiaries and entities that control or
              are under common control with Protel Media, in particular when necessary for the ongoing maintenance and
              continued provision of the services to you;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number"> 4.1.2 </span>
              Trusted service providers retained by us to enhance or provide services to you, acting at our instruction,
              including hosting services providers, platform development, support and security services providers,
              analytics tools and services providers, customer support services providers, payment and reconciliation
              services providers;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number"> 4.1.3 </span>
              Marketing services providers supporting us in promoting the Protel Media Service, including marketing
              agencies, email distribution and other marketing tools providers, social media marketing services
              providers including Facebook and Google, as well as analytics services providers;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number"> 4.1.4 </span>
              Partners who may offer access to the Protel Media Service on our behalf and/or partners with whom Protel
              Media co-operates with respect to placing the Protel Media App on their platforms;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number"> 4.1.5 </span>
              Third parties, including governmental bodies, courts or bodies of similar nature, when it is required in
              order to comply with applicable laws, to enforce or investigate potential violations of our terms of use
              or any other contract between you and us, to protect our rights, property or safety or that of our
              customers, employees, and other third parties; and/or
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number"> 4.1.6 </span>
              Third party in relation to reorganization of the Protel Media group, in particular a third party that
              acquires (or proposes to acquire) ownership or control of our assets, shares or management, or that of our
              affiliates by any means, or a third party from whom we acquire, ownership or control of assets, shares or
              management.
            </div>
          </div>

          <div class="detail-paragraph">
            <span class="article-number">4.2. </span>
            Please note that Protel Media offers services in jurisdictions located outside Kenya and some of the data
            recipients referred to in clause 4.1 may be located outside Kenya, in countries with respect to which the
            Communications Authority of Kenya has not issued an adequacy decision (“Third Country”).
          </div>

          <div class="detail-paragraph">
            <span class="article-number">4.3. </span>
            Where personal data is transferred to a Third Country, Protel Media takes legally required steps consistent
            with applicable Kenyan data protection legislation to ensure that the personal data is adequately protected
            in each such jurisdiction in particular by basing agreements with the relevant data recipients on the
            standard data protection clauses adopted by the Communications Authority of Kenya or adopted by a
            supervisory authority and approved by the Communications Authority of Kenya. Should you wish to obtain a
            copy of them, please contact us at email.
          </div>
        </li>

        <li>
          <div class="sub-heading"><span class="article-number"> 5 </span>What are your rights?</div>

          <div class="detail-paragraph">
            <span class="article-number">5.1. Your data subject rights:</span>
            You have the following rights with respect to your personal data processed by Protel Media:

            <div class="detail-paragraph sub">
              <span class="article-number">5.1.1. Access:</span>
              You have the right to access your personal data;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">5.1.2. Rectification:</span>
              You can ask us to have inaccurate personal data amended. You can use the My Account section on the Protel
              Media Website or the Protel Media App to change basic information about you;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">5.1.3. Erasure:</span>
              You can ask us to erase personal data. Note that we will keep only personal data that are necessary for us
              to comply with financial and tax regulations and for the establishment, exercise or defense of legal
              claims;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">5.1.4. Object to marketing:</span>
              You can object to processing your personal data for marketing purposes;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">5.1.5. Object to other processing:</span>
              You can object to processing of your personal data based on the legitimate interest of Protel Media unless
              we have a valid ground to continue processing the data;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">5.1.6. Portability:</span>
              You can ask us to receive your personal data that you provided to Protel Media in machine-readable format
              or have such data transmitted to a third party; and
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">5.1.7. Restriction:</span>
              We may be required to have your data restricted for processing in certain circumstances as defined in
              article 19 of the GDPR.
            </div>
          </div>

          <div class="detail-paragraph">
            <span class="article-number">5.2. Exercise of your rights:</span>
            You can exercise your rights and lodge requests to Protel Media using the My Data section in My Account on
            the Protel Media Website or the Protel Media App.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">5.3. Exercise of your objection to marketing:</span>
            You may object to direct email/SMS marketing e-mail/SMS marketing communications from us by indicating your
            communications preference in the Marketing Email Preference section in My Account on the Protel Media
            Website. You may also unsubscribe using the link included in every direct email marketing communication or
            using the SMS code indicated in direct SMS marketing communication, it may take a few days for this request
            to be processed. You cannot unsubscribe from service administration related e-mails and SMS messages. In the
            Marketing Preferences Section, you may also opt-out from receiving push messages or from having your data
            processed for marketing purposes, with respect to other marketing, using the My Data section in My Account
            on the Protel Media Website or the Protel Media App. Please also see clause 8 – Cookies.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">5.4. Withdrawal of consent:</span>
            In some situations when we may seek your consent for processing. In such a case, you will have the right to
            withdraw consent at any time, without affecting the lawfulness of processing based on consent before its
            withdrawal.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">5.5. Support Centre:</span>
            Should you have any difficulties with exercising any of the rights referred to above using your Protel Media
            Account, you may contact us at the customer support email address listed on Protel Media.com/contact for
            assistance (in such case, for security reasons you may be asked to confirm your request by logging into your
            Protel Media account and upon such confirmation your request will be considered to be validly filed).
          </div>

          <div class="detail-paragraph">
            <span class="article-number">5.6. Complaints:</span>
            You can raise a complaint about our processing with the data protection regulator in your jurisdiction. If
            you find it difficult to contact the data protection regulator, we will help you.
          </div>
        </li>

        <li>
          <div class="sub-heading"><span class="article-number">6 </span>How long do we store data?</div>

          <div class="detail-paragraph">
            <span class="article-number">6.1. Data Retention Principles:</span>
            We process your personal data during your subscription and following the end of your subscription to the
            extent that the data is necessary for the purposes with respect to which we are permitted and/or required to
            process data, in any event no longer than for the period of expiry of claims, including for the following
            purposes:

            <div class="detail-paragraph sub">
              <span class="article-number">6.1.1. </span>
              Compliance with obligations resulting from applicable laws to which Protel Media is subject;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">6.1.2. </span>
              Establishment, exercise or defense of legal claims as well as for the purposes any other legal proceedings
              or compliance with any judgments and/or decisions issued by public authorities;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">6.1.3. </span>
              Research and analytics;
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">6.1.4. </span>
              Marketing of Protel Media products and services; and
            </div>
            <div class="detail-paragraph sub">
              <span class="article-number">6.1.5. </span>
              Maintaining the Protel Media Account in accordance with clause 6.2.
            </div>
          </div>

          <div class="detail-paragraph">
            <span class="article-number">6.2.</span>
            Access to your Protel Media Account after subscription termination: Following the termination of your
            subscription, your Protel Media Account will remain active for a period of five years. If you do not
            re-subscribe to the Protel Media Service within that time, we will delete your Protel Media Account and any
            related information to the extent that it is not used as set out in clause 6.1.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">6.3.</span>
            Where appropriate we will encrypt, pseudonymize, anonymize and/or segregate information so that we may make
            use of it in a manner that avoids unnecessary identification, in the interest of protecting your privacy and
            enhancing security practices.
          </div>
        </li>

        <li>
          <div class="sub-heading"><span class="article-number"> 7 </span>Security</div>

          <div class="detail-paragraph">
            <span class="article-number">7.1.</span>
            Maintaining the security and integrity of your personal data is a high priority and we endeavor to maintain
            appropriate technical and organizational measures to secure the integrity of information, using accepted
            technological standards to prevent unauthorized access to or disclosure of your personal data and to protect
            them from misuse, loss, alteration or destruction.
          </div>
        </li>

        <li>
          <div class="sub-heading"><span class="article-number"> 8 </span>Cookies</div>

          <div class="detail-paragraph">
            <span class="article-number">8.1.</span>
            In order to ensure that the Protel Media Website, Protel Media App and Protel Media Service work properly,
            to provide you with a personalized experience, we and certain of our third-party service providers may set
            cookies or similar technologies (such as in particular web beacons, pixels and advertising identifiers) on
            your device, subject to your consent where relevant. A cookie is a small text file that a website saves on
            your computer or mobile device when you visit the website. It enables the website to remember your actions
            and preferences (such as session status, language, font size and other display preferences) over a period of
            time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page
            to another.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">8.2.</span>
            The Protel Media Website uses two basic cookie types: session cookies and persistent cookies. Session
            cookies are temporary files stored on the user’s end device until the user logs out, leaves the website or
            closes the software (web browser). Persistent cookies are stored on the user’s end device for the time
            specified in the parameters of the cookies or until deleted by the user.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">8.3.</span>
            In many cases, the default settings of the web browsing software (web browser) enable cookie storage on the
            user’s end device. You can delete or block cookies from being set in your web browser settings or relevant
            software. Cookies set by Protel Media will likely be labelled as first party cookies, and those set by our
            partners will be labelled third party cookies. Certain parts of the Protel Media Website, the Protel Media
            Service or the Protel Media App may not work properly if first party cookies are blocked or deleted.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">8.4.</span>
            The types of cookies and the purposes for which they are used on the Protel Media Website and the Protel
            Media App include:

            <div class="detail-paragraph sub">
              <span class="article-number">8.4.1</span>
              Strictly necessary cookies, which enable use of the services available on the Protel Media Website and
              Protel Media App, for example cookies used for authentication of users and cookies that ensure security;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">8.4.2</span>
              Performance cookies, which help us collect information about how the Protel Media Website, the Protel
              Media Service and the Protel Media App are used, so that we can perform analytics and improve their
              performance;
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">8.4.3</span>
              Functionality cookies, which remember choices made by the user and personalize the interface and allow
              enhanced functionality and personalization of the Protel Media Website, the Protel Media Service and the
              Protel Media App; and
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">8.4.4</span>
              Targeting cookies and advertising ids for delivering adverts more relevant to users and their interests,
              as well as ad conversion tracking; these cookies are mainly set by our advertising partners.
            </div>

            <div class="detail-paragraph sub">
              <span class="article-number">8.4.5</span>
              Third parties that engage in online behavioral advertising, or that provide such services to us as service
              providers, may offer additional control over this practice via a regulatory body called the Communications
              Authority of Kenya. For further details regarding the collection of information by third- party
              advertising companies or to exercise choices over online behavioral advertising practices, visit
              <a target="_blank" href="https://ca.go.ke/">https://ca.go.ke/</a>
            </div>
          </div>
        </li>

        <li>
          <div class="sub-heading">
            <span class="article-number">9 </span>Changes to this Policy and final provisions
          </div>

          <div class="detail-paragraph">
            <span class="article-number">9.1</span>We may change this Privacy Policy from time to time. If we do so, we
            will post the revised policy on Protel Media and will inform users of such amendments and of their effective
            date.
          </div>

          <div class="detail-paragraph">
            <span class="article-number">9.2</span>In case of discrepancy between this document and the Protel Media App
            end user license agreement, the provisions of this Privacy Policy will prevail.
          </div>
        </li>
      </ol>
    </div>

    <div class="footer">
      <div>
        This version of Privacy Policy applies from 1 May 2021.
      </div>
      <br />
      <div>
        ©2021
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
