<template>
  <div class="container">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$background-color: #232323;
$font-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $font-color;
  background-color: $background-color;
}

.heading {
  text-align: center;
  font-size: 1.8em;
  margin: 25px 0;
}

ol {
  li {
    list-style-position: inside;
    list-style: none;
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.detail-paragraph {
  font-size: 1em;
  line-height: 1.5;
  margin: 15px 0px;
}

.article-number {
  font-weight: bold;
}

.sub-heading {
  font-size: 1.4em;
  margin: 15px 0;
}

.sub {
  margin: 15px 0 15px 25px;
}

.footer {
  font-size: 1.2em;
  text-align: center;
  margin: 25px 0;
}
</style>
